@model IEnumerable<ZenithWebSite.Models.EventsDto>
@{
    ViewBag.Title = "Home Page";

    int i = 0;
    int modelCount = Model.Count();
    var lstModel = Model.ToList();

}

<div class="jumbotron">
    <h1>WELCOME TO ZENITH</h1>
    <br />
    <h2>This week events:</h2>
    <br />

    @if (modelCount == 0)
    {
        <p class="lead">@ViewBag.Message</p>
    }
    else
    {
        <table class="table">

            @for (i = 0; i < lstModel.Count; i++)
            {
                // If first event of list
                if (i == 0)
                {
                    <tr class="info">
                        <td></td>
                        <td align="left">@lstModel[i].EventStartDateTime.DayOfWeek @lstModel[i].EventStartDateTime.ToString("MMMM") @lstModel[i].EventStartDateTime.Day, @lstModel[i].EventStartDateTime.Year</td>
                    </tr>
                    <tr>
                        <td width="200px" align="center">@lstModel[i].EventStartDateTime.ToString("hh:mm tt") - @lstModel[i].EventEndDateTime.ToString("hh:mm tt")</td>
                        <td>@lstModel[i].ActivityDesc</td>
                    </tr>
                }
                else
                {
                    // If StartDate of previous event NOT EQUALS StartDate of current event, add row to table to display date
                    if (lstModel[i - 1].EventStartDateTime.Date != lstModel[i].EventStartDateTime.Date)
                    {
                        <tr class="info">
                            <td></td>
                            <td align="left">@lstModel[i].EventStartDateTime.DayOfWeek @lstModel[i].EventStartDateTime.ToString("MMMM") @lstModel[i].EventStartDateTime.Day, @lstModel[i].EventStartDateTime.Year</td>
                        </tr>
                    }
                    <tr>
                        <td width="200px" align="center">@lstModel[i].EventStartDateTime.ToString("hh:mm tt") - @lstModel[i].EventEndDateTime.ToString("hh:mm tt")</td>
                        <td>@lstModel[i].ActivityDesc</td>
                    </tr>                   
                }                
            } 
        </table>
    }


        
            

                   



                    @*<p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
                        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
    </div>

    @*<div class="row">
            <div class="col-md-4">
                <h2> SOCIETY</h2>
                <p>
                    ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                    enables a clean separation of concerns and gives you full control over markup
                    for enjoyable, agile development.
                </p>
                <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Get more libraries</h2>
                <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
                <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Web Hosting</h2>
                <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
            </div>
        </div>*@
